@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

header {
  z-index: 1000;
}

html {
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.video {
  z-index: -0;
}

.bienvenidos {
  background-color: rgba(47, 83, 160, 0.082);
  background-image: url("assets/images/fondo-inicio-2.svg");
}

.botonDonar,
.botonLaFinca,
.FondoFucsiaInfografia,
.FondoFucsiaTalleres {
  background-color: #e60064;
}

.botonDonar:hover,
.botonLaFinca:hover {
  background-color: #fc036f;
}
/*<---------Animación Slider--------->*/
.slider {
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite normal ease-in-out;
  width: 700%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: -0%;
  }

  15% {
    margin-left: -100%;
  }
  25% {
    margin-left: -100%;
  }

  30% {
    margin-left: -200%;
  }
  40% {
    margin-left: -200%;
  }

  45% {
    margin-left: -300%;
  }
  55% {
    margin-left: -300%;
  }

  60% {
    margin-left: -400%;
  }
  70% {
    margin-left: -400%;
  }

  75% {
    margin-left: -500%;
  }
  85% {
    margin-left: -500%;
  }

  90% {
    margin-left: -600%;
  }
  100% {
    margin-left: -600%;
  }
}

/*<---------Animación Slider--------->*/

.linea-fucsia {
  height: 4px;
  width: 60px;
  background-color: #e60064;
}

.linea-verde {
  height: 4px;
  width: 60px;
  background-color: #52ae32;
}

.linea-azul-titulo {
  height: 4px;
  width: 60px;
  background-color: #2f52a0;
}

.linea-azul {
  background-color: #2f52a0;
}

.linea-amarilla {
  background-color: #f39200;
}

.linea-discontinua {
  border: medium none;
  border-top: 2px dashed black
}

.equipo {
  margin: 5% 10% 0% 10%;
}

.nuestraMision {
  background-color: rgba(47, 83, 160, 0.082);
  background-image: url("assets/images/fondo-nuestra-mision.svg");
}

.fondoFinca3d {
  background-image: url("assets/images/fondo-finca3d.svg");
}

.fondoAccesibilidad {
  background-color: rgba(47, 83, 160, 0.082);
  background-image: url("assets/images/fondo-accesibilidad.svg");
}

.cardSostenibilidad,
.fondoCardsActividades {
  background-color: rgba(47, 83, 160, 0.082);
}

.fondoFinDeSemana {
  background-image: url("assets/images/fondo-fin-de-semana.svg");
}

.fondoSostenibilidad {
  background-image: url("assets/images/fondo-sostenibilidad.svg");
}

.fondoTalleres {
  background-image: url("assets/images/fondo-categoria-talleres.svg");
}

.fondoAsistirTalleres {
  background-image: url("assets/images/fondo-asistir-talleres.svg");
}

.fondoUbicacion {
  background-image: url("assets/images/fondo-ubicacion.svg");
}

.fondoDonaciones {
  background-image: url("assets/images/fondo-donaciones.svg");
}

.fondoDonaciones2 {
  background-image: url("assets/images/fondo-donaciones-2.svg");
}

.fondoCardDonaciones {
  background-image: url("assets/images/fondo-card-donaciones.svg");
}

.fondoOpcionDonaciones {
  background-image: url("assets/images/fondo-opcion-donaciones.svg");
}

.fondoInfografiaDiscapacidad {
  background-image: url("assets/images/fondo-infografia-discapacidad.svg");
}

.fondoInfografiaPasaDia {
  background-image: url("assets/images/fondo-infografia-pasa-dia.svg");
}

.colorTextoDonaciones {
  color: #e60064;
}

.boton-paypal {
  background-color: #FFC439;
  padding: 4px 35px 4px 35px;
  border-radius: 18px;
  border: 2px solid #E6B033;
  font-weight: bold;
}
